.header_14
{
position:absolute;
background-color:#2f1893;
height:890px;
width:1400px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.signupform
{
align-self:flex-start;
left:715px;
top:187px;
position:absolute;
width:470px;
height:600px;
}
.placeholder
{
width:470px;
height:600px;
top:187px;
left:715px;
position:absolute;
}
.placeholder2
{
background-color:#ffffff;
height:600px;
width:470px;
border-radius:10px;
top:187px;
left:715px;
position:absolute;
}
.signin
{
color:#25dac4;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:325px;
top:529px;
width:56px;
height:28px;
position:absolute;
line-height:28px;
border-style:hidden;
outline:none;
}
.doyouhaveanaccou
{
color:rgba(21, 20, 56, 0.4000000059604645);
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:100px;
top:529px;
width:215px;
height:28px;
position:absolute;
line-height:28px;
border-style:hidden;
outline:none;
}
.middle-fill
{
background-color:#ffffff;
height:50px;
width:330px;
padding:0px;
border-style:hidden;
outline:none;
top:636px;
left:785px;
position:absolute;
}
.rectangle
{
background-color:#1da1f2;
height:50px;
width:330px;
border-radius:100px;
}
.signup2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:DM Sans;
line-height:26px;
border-style:hidden;
outline:none;
top:12px;
left:96px;
position:absolute;
width:138px;
}
.middle-fill2
{
background-color:#ffffff;
height:50px;
width:330px;
padding:0px;
border-style:hidden;
outline:none;
top:525px;
left:785px;
position:absolute;
}
.rectangle2
{
background-color:#482be7;
height:50px;
width:330px;
border-radius:100px;
}
.signup3
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:DM Sans;
line-height:26px;
border-style:hidden;
outline:none;
top:12px;
left:137px;
position:absolute;
width:56px;
}
.divider"or"
{
width:328.0030517578125px;
height:26px;
top:593.39px;
left:784.49px;
position:absolute;
}
.divider2
{
height:2px;
width:141.5697021484375px;
left:186.43px;
top:11.1px;
position:absolute;
}
.or3
{
color:rgba(21, 20, 56, 0.4000000059604645);
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:154.5px;
width:16px;
height:26px;
position:absolute;
line-height:26px;
border-style:hidden;
outline:none;
}
.divider3
{
height:2px;
width:141.5697021484375px;
top:11.100000381469727px;
position:absolute;
left:0px;
}
.checkboxchecked
{
width:265px;
height:26.400390625px;
top:471px;
left:785px;
position:absolute;
}
.checked2
{
color:rgba(21, 20, 56, 0.4000000059604645);
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:DM Sans;
left:37px;
top:0.4px;
width:228px;
height:26px;
position:absolute;
line-height:26px;
border-style:hidden;
outline:none;
}
.on
{
height:24px;
width:24px;
width:24px;
height:24px;
padding:0px;
border-style:hidden;
outline:none;
top:471px;
left:785px;
position:absolute;
}
.rectangle3
{
background-color:#25dac4;
height:24px;
width:24px;
border-radius:6px;
width:24px;
height:24px;
}
.checkicon
{
height:5.999999046325684px;
width:9.599998474121094px;
width:9.599998474121094px;
height:5.999999046325684px;
left:0px;
top:0px;
position:absolute;
}
.middle-darkoutline
{
background-color:#ffffff;
height:50px;
width:330px;
padding:0px;
border-style:hidden;
outline:none;
top:391px;
left:785px;
position:absolute;
}
.rectangle4
{
height:50px;
width:330px;
border-radius:100px;
border:2px solid #eaeaed;
}
.youremail
{
color:rgba(21, 20, 56, 0.4000000059604645);
text-align:left;
vertical-align:text-middle;
font-size:18px;
font-family:DM Sans;
line-height:26px;
border-style:hidden;
outline:none;
top:12px;
left:24px;
position:absolute;
width:125px;
}
.middle-darkoutline2
{
background-color:#ffffff;
height:50px;
width:330px;
padding:0px;
border-style:hidden;
outline:none;
top:321px;
left:785px;
position:absolute;
}
.rectangle5
{
height:50px;
width:330px;
border-radius:100px;
border:2px solid #eaeaed;
}
.youremail2
{
color:rgba(21, 20, 56, 0.4000000059604645);
text-align:left;
vertical-align:text-middle;
font-size:18px;
font-family:DM Sans;
line-height:26px;
border-style:hidden;
outline:none;
top:12px;
left:24px;
position:absolute;
width:88px;
}
.signup4
{
color:#1e0d62;
text-align:center;
vertical-align:text-top;
font-size:42px;
font-family:DM Sans;
left:114px;
top:48px;
width:247px;
height:52px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:52px;
border-style:hidden;
outline:none;
}
.text
{
align-self:flex-start;
left:209px;
top:219px;
position:absolute;
width:427px;
height:496px;
}
.themostimportantp
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:DM Sans;
left:3px;
top:241px;
width:363px;
height:160px;
position:absolute;
line-height:32px;
border-style:hidden;
outline:none;
}
.middle-fill3
{
background-color:#ffffff;
height:50px;
width:157px;
padding:0px;
border-style:hidden;
outline:none;
top:665px;
left:209px;
position:absolute;
}
.rectangle6
{
background-color:#e8397d;
height:50px;
width:157px;
border-radius:100px;
}
.signup5
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:DM Sans;
line-height:26px;
border-style:hidden;
outline:none;
top:12px;
left:31px;
position:absolute;
width:96px;
}
.twentyfiveawesome
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:58px;
font-family:DM Sans;
left:3px;
width:424px;
height:217px;
position:absolute;
letter-spacing:-1px;
line-height:70px;
border-style:hidden;
outline:none;
}
.headermenu
{
align-self:flex-start;
left:213px;
top:65px;
position:absolute;
width:972px;
height:40px;
}
.menu2
{
width:503px;
height:40px;
top:65px;
left:682px;
position:absolute;
}
.middle-fill4
{
background-color:#ffffff;
height:40px;
width:120px;
padding:0px;
border-style:hidden;
outline:none;
top:65px;
left:1065px;
position:absolute;
}
.rectangle7
{
background-color:#e8397d;
height:40px;
width:120px;
border-radius:100px;
}
.signup6
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:DM Sans;
line-height:26px;
border-style:hidden;
outline:none;
top:7px;
left:21px;
position:absolute;
width:79px;
}
.feedback
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:265px;
top:7.4px;
width:84px;
height:26px;
position:absolute;
line-height:26px;
border-style:hidden;
outline:none;
}
.blog
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:196px;
top:7.4px;
width:36px;
height:26px;
position:absolute;
line-height:26px;
border-style:hidden;
outline:none;
}
.prices
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
left:113px;
top:7.4px;
width:53px;
height:26px;
position:absolute;
line-height:26px;
border-style:hidden;
outline:none;
}
.about
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:DM Sans;
top:7.4px;
width:80px;
height:26px;
position:absolute;
line-height:26px;
border-style:hidden;
outline:none;
}
.white
{
background-color:#ffffff;
height:19px;
width:111px;
padding:0px;
border-style:hidden;
outline:none;
top:74px;
left:213px;
position:absolute;
}
.white2
{
background-color:#ffffff;
height:19px;
width:111px;
padding:0px;
border-style:hidden;
outline:none;
}
.startup3
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:DM Sans;
letter-spacing:-0.2926828861236572px;
line-height:auto;
border-style:hidden;
outline:none;
width:106px;
}
